<div class="container d-flex justify-content-center align-items-center ">
    <nav aria-label="...">
        <ul class="pagination flex-wrap">
            <% if ( pageConfig.pages > 1 ) { %> 
            <li class="page-item <%= pageConfig.page == 1 ? "disabled" : "" %>">
                <a class="page-link" href="<%=pageUrl%>?page=1<%= suffixQuery %>" 
                    tabindex="-1" aria-disabled="true"><<</a>
            </li>
            <% } %> 
            <% if (pageConfig.page > pageConfig.pageSpan) { %>
                <!-- Previous few pages -->
                <li class="page-item"><a class="page-link" 
                    href="<%=pageUrl%>?page=<%= pageConfig.startPage-1 %><%= suffixQuery %>">...</a></li>
            <% } %> 

            <% for (let i = pageConfig.startPage; i < pageConfig.endPage+1; i++) { %>
                <!-- The middle 5 pages -->
                <li class="page-item <%= pageConfig.page == i ? "active" : "" %>"><a class="page-link" 
                    href="<%=pageUrl%>?page=<%= i %><%= suffixQuery %>"><%= i %></a></li>
            <% } %> 

            <% if (pageConfig.pages - pageConfig.page >= pageConfig.pageSpan) { %> 
                <!-- next few pages -->
                <li class="page-item"><a class="page-link" 
                    href="<%=pageUrl%>?page=<%= pageConfig.endPage+1 %><%= suffixQuery %>">...</a></li>
            <% } %> 
            <% if ( pageConfig.pages > 1 ) { %> 
            <li class="page-item <%= pageConfig.page == pageConfig.pages ? "disabled" : "" %>">
                <a class="page-link" href="<%=pageUrl%>?page=<%= pageConfig.pages %><%= suffixQuery %>">>></a>
            </li>
            <% } %> 
        </ul>
    </nav>
</div>