<% layout('layouts/boilerplate') %>
    <div class="row">
        <h1 class="text-center">Edit Campground</h1>
        <div class="col-md-6 offset-md-3">
            <form action="/campgrounds/<%= campground._id %>?_method=PUT" method="POST" novalidate class="validated-form"
                enctype="multipart/form-data">
                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input type="text" class="form-control" name="campground[title]" id="title" placeholder="title"
                        value="<%= campground.title %>" required>
                    <div class="valid-feedback">
                        <!-- This gives us the feedback after we finished filling after one submit failed -->
                        Looks good!
                    </div>
                </div>
                <div class="mb-3">
                    <label for="location" class="form-label">Location</label>
                    <input type="text" class="form-control" name="campground[location]" id="location"
                        placeholder="location" value="<%= campground.location %>" required>
                    <div class="valid-feedback">
                        <!-- This gives us the feedback after we finished filling after one submit failed -->
                        Looks good!
                    </div>
                </div>
                <!-- <div class="mb-3">
                    <label for="image" class="form-label">Add Images</label>
                    <input type="file" name="image" id="image" multiple>
                </div> -->
                <div class="mb-3 custom-file">
                    <label for="image" class="form-label">Add more Images</label>
                    <label for="image" class="form-label custom-file-label"></label>
                    <input class="form-control" type="file" id="image" name="image" multiple>
                </div>
                <div class="mb-3">
                    <label for="price" class="form-label">Campground Price</label>
                    <div class="input-group">
                        <span class="input-group-text" id="price-label">$</span>
                        <input type="text" class="form-control" id="price" placeholder="0" aria-label="price"
                            aria-describedby="price-label" name="campground[price]" value="<%= campground.price %>"
                            required>
                        <div class="valid-feedback">
                            <!-- This gives us the feedback after we finished filling after one submit failed -->
                            Looks good!
                        </div>
                    </div>
                </div>

                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <textarea type="text" class="form-control" name="campground[description]" id="description"
                        placeholder="description" required><%= campground.description %></textarea>
                    <div class="valid-feedback">
                        <!-- This gives us the feedback after we finished filling after one submit failed -->
                        Looks good!
                    </div>
                </div>

                <!-- Delete images -->
                <div class="mb-3">
                    <% campground.images.forEach((image, index) => { %> 
                        <img src="<%= image.thumbnail %>" class="img-thumbnail" alt="">
                    <div class="form-check-inline">
                        <!-- Here what we selected will add the value to the array in the name -->
                        <input type="checkbox" name="deleteImages[]" id="image-<%= index %>" value="<%= image.filename %>">
                    </div>
                    <label for="image-<%= index %>">Delete?</label>
                    <% }) %> 
                </div>

                <div class="mb-3">
                    <button class="btn btn-success">Update Campground</button>
                    <a href="/campgrounds/<%= campground._id %>" class="btn btn-info text-light">Back to campground</a>
                </div>


            </form>
        </div>
    </div>